 <div class="header">
 </div>
 <div class="wrapper">
    	
	<div class="container">
	
	<h2>Welcome</h2>

	<form class = "home" name="LoginUserForm" ng-submit="login(username, password)">
		<input class = "home" type="text" placeholder="Username" ng-model="username"/>
		<input class = "home" type="password" placeholder="Password"ng-model="password"/>
		<button class = "home" type="submit" value="Login" id ="login-button">Login</button>
		<br>
		<a href="">forgot password?</a>
		<br>
		<a ng-click="register()">New Student? Apply here</a>
		<br>
		<br>

	</form>
		
	</div>
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>